.main_containt {
  margin-top: 5rem;
  min-height: 88vh;
}
.card-category {
  width: 15rem;
}
.card-header-category img {
  height: 15rem;
}
.pagination {
  margin-bottom: 0;
}
.card-header-newData {
  height: 3rem;
  line-height: 3rem;
  color: white;
  border: 0px;
  background-color: #2249beef !important;
}
